/* 
    General Styles
*/
body {
    //background-image: url("https://res.cloudinary.com/petrep/image/upload/v1628612850/starwars/stars.png");
    //background:linear-gradient(-120deg, rgba(255, 255, 255, 0.3), rgba(12, 12, 12, 0.3)), url("https://res.cloudinary.com/petrep/image/upload/v1628612850/starwars/stars.png");
    background:linear-gradient(-120deg, rgba(46, 46, 46, 0.3), rgba(48, 48, 48, 0.3)), url("https://res.cloudinary.com/petrep/image/upload/v1628612850/starwars/stars.png");
  background-size:cover;
}
img{
    border-bottom: 2px solid #9e4f60;
}
.card-name{
    color: #dddddd;
}
.card-desc{
    font-size: 11px;
    color: #aaaaaa;
}
.card{
    background-color: #2a2929;
}
.navbar{
   background:linear-gradient(-120deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://res.cloudinary.com/petrep/image/upload/v1628612850/starwars/stars.png");
  background-size:cover;
  height: 8vh;
}
.list-row{
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
    ::-webkit-scrollbar {
  display: none;}
}
.grey-title{
    background:rgb(71, 71, 71);
    color: #777777;
    clip-path: polygon(1% 22%, 0 17%, 0 0, 100% 0, 100% 100%, 0 100%, 0 83%, 1% 76%);
}